force-app/package/core/flows/Lightweight_Agentforce_Record_Builder_Tester.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Execute_Prompt_Template</name>
        <label>Execute Prompt Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>agentforce1__Lightweight_Agentforce_Record_Builder_Tester</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Assign_Prompt_Template_Output_To_Variable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Instructions</name>
            <value>
                <elementReference>Instructions</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Schema_Mapping</name>
            <value>
                <elementReference>Get_Schema_Mapping</elementReference>
            </value>
        </inputParameters>
        <nameSegment>agentforce1__Lightweight_Agentforce_Record_Builder_Tester</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Execute_Prompt_Template_With_File</name>
        <label>Execute Prompt Template With File</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>agentforce1__Lightweight_Agentforce_Record_Builder_Tester_With_File</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Assign_Prompt_Template_With_File_Output_To_Variable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Schema_Mapping</name>
            <value>
                <elementReference>Get_Schema_Mapping</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Instructions</name>
            <value>
                <elementReference>Instructions</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:File</name>
            <value>
                <elementReference>Get_File</elementReference>
            </value>
        </inputParameters>
        <nameSegment>agentforce1__Lightweight_Agentforce_Record_Builder_Tester_With_File</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Upsert_Prompt_Template_Response_JSON</name>
        <label>Upsert Prompt Template Response JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AgentforceRecordCreatorFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Has_Error</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>jsonString</name>
            <value>
                <elementReference>PromptOutputJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>schemaMappingRecordId</name>
            <value>
                <elementReference>Get_Schema_Mapping.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AgentforceRecordCreatorFlow</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_ContentDocumentIds</name>
        <label>Assign ContentDocumentIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>file.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_File</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Prompt_Template_Output_To_Variable</name>
        <label>Assign Prompt Template Output To Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PromptOutputJSON</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Execute_Prompt_Template.promptResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scr_Prompt_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Prompt_Template_With_File_Output_To_Variable</name>
        <label>Assign Prompt Template With File Output To Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PromptOutputJSON</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Execute_Prompt_Template_With_File.promptResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scr_Prompt_Response</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Has_Error</name>
        <label>Has Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Upsert_Result_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesHasError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Upsert_Prompt_Template_Response_JSON.errorMessage</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scr_Upsert_Error_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_File</name>
        <label>Has File</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Execute_Prompt_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContentDocumentIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_File</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>A simple screenflow to test the &quot;Lightweight - Agentforce Record Builder&quot; directly from the Schema Mappings page</description>
    <environments>Default</environments>
    <interviewLabel>Lightweight - Agentforce Record Builder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lightweight - Agentforce Record Builder Tester</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_File</name>
        <label>Get File</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Execute_Prompt_Template_With_File</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ContentDocumentIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Schema Mapping Record</description>
        <name>Get_Schema_Mapping</name>
        <label>Get Schema Mapping</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scr_Welcome</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Schema_Mapping__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query the Upsert Result Record to Display what has been d</description>
        <name>Get_Upsert_Result_Records</name>
        <label>Get Upsert Result Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scr_Results</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>record__Upsert_Result__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Upsert_Prompt_Template_Response_JSON.upsertResultRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>100.0</numberValue>
        </limit>
        <object>record__Upsert_Result_Record__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>scr_instructions_nput</name>
        <label>Instruction Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_ContentDocumentIds</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>Instructions</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>file</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload file</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>ContentDocumentIds</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr_Prompt_Response</name>
        <label>Prompt Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Upsert_Prompt_Template_Response_JSON</targetReference>
        </connector>
        <fields>
            <name>jsonViewer</name>
            <extensionName>agentforce1:flowJsonViewer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>jsonString</name>
                <value>
                    <elementReference>PromptOutputJSON</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen containing the upsert result output to illustrate what happened.</description>
        <name>scr_Results</name>
        <label>Upsert Results</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dt_Upsert_Result</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>record__Upsert_Result_Record__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upsert Result</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Upsert_Result_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;record__Upsert_Result_Record__c&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;Get_Upsert_Result_Records&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-0b73&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;record__sObjectType__c&quot;,&quot;guid&quot;:&quot;column-695e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;sObjectType&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;record__Open_Record__c&quot;,&quot;guid&quot;:&quot;column-aee6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Open Record&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;record__Parent_Upsert_Result_Record__c&quot;,&quot;guid&quot;:&quot;column-5ba6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Parent Upsert Result Record&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;record__Open_Parent_Record__c&quot;,&quot;guid&quot;:&quot;column-43bb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Open Parent Record&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;record__Upsert_Result_Record__c&quot;,&quot;fieldReferences&quot;:[&quot;Name&quot;,&quot;record__sObjectType__c&quot;,&quot;record__Open_Record__c&quot;,&quot;record__Parent_Upsert_Result_Record__c&quot;,&quot;record__Open_Parent_Record__c&quot;],&quot;elementReference&quot;:&quot;Get_Upsert_Result_Records&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr_Upsert_Error_Screen</name>
        <label>Upsert Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txt_Upsert_Error</name>
            <fieldText>&lt;p&gt;There was an error whilst upserting your data: &lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 5, 69);&quot;&gt;{!Upsert_Prompt_Template_Response_JSON.errorMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr_Welcome</name>
        <label>Lightweight - Agentforce Record Builder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>scr_instructions_nput</targetReference>
        </connector>
        <fields>
            <name>txt_Welcome</name>
            <fieldText>&lt;p&gt;Welcome to the testing tool. On the next page you can input your instructions and optionally upload an image to test the record creation and or updates based on your schema mapping.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You are testing against schema mapping: &lt;strong&gt;{!Get_Schema_Mapping.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Schema_Mapping</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PromptOutputJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The record Id of the Schema Mapping</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
